<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Confirme su correo electronico. </h1>
    <p>Ingrese en este enlace para confirmar su correo electrónico</p>
    <a href="{{url}}">{{url}}</a>
    
</body>
</html>